<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>viridianscape_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{96,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,160}}</string>
                <key>sourceSize</key>
                <string>{96,160}</string>
            </dict>
            <key>viridianscape_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>viridianscape_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{288,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,288}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>viridianscape_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,0},{288,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,288}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>viridianscape_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,0},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>viridianscape_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,0},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>viridianscape_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,0},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>viridianscape_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,0},{160,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,96}}</string>
                <key>sourceSize</key>
                <string>{160,96}</string>
            </dict>
            <key>viridianscape_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,0},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>viridianscape_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,0},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>viridianscape_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{544,544}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,544}}</string>
                <key>sourceSize</key>
                <string>{544,544}</string>
            </dict>
            <key>viridianscape_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,288},{96,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,160}}</string>
                <key>sourceSize</key>
                <string>{96,160}</string>
            </dict>
            <key>viridianscape_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,288},{544,544}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,544}}</string>
                <key>sourceSize</key>
                <string>{544,544}</string>
            </dict>
            <key>viridianscape_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,288},{288,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,288}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>viridianscape_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,288},{96,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,160}}</string>
                <key>sourceSize</key>
                <string>{96,160}</string>
            </dict>
            <key>viridianscape_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,288},{96,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,160}}</string>
                <key>sourceSize</key>
                <string>{96,160}</string>
            </dict>
            <key>viridianscape_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,288},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>viridianscape_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,288},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>viridianscape_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,832},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>viridianscape_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,832},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>viridianscape_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,832},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>viridianscape_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,832},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>viridianscape_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,832},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>viridianscape_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,832},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>viridianscape_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,832},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>viridianscape_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,832},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>viridianscape_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,832},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>viridianscape_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,832},{160,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,288}}</string>
                <key>sourceSize</key>
                <string>{160,288}</string>
            </dict>
            <key>viridianscape_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,832},{160,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,288}}</string>
                <key>sourceSize</key>
                <string>{160,288}</string>
            </dict>
            <key>viridianscape_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,832},{288,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,288}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>viridianscape_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1120},{544,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,160}}</string>
                <key>sourceSize</key>
                <string>{544,160}</string>
            </dict>
            <key>viridianscape_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1120},{544,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,160}}</string>
                <key>sourceSize</key>
                <string>{544,160}</string>
            </dict>
            <key>viridianscape_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1120},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>viridianscape_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1120},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>viridianscape_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,1120},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>viridianscape_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,1120},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>viridianscape_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,1120},{288,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,160}}</string>
                <key>sourceSize</key>
                <string>{288,160}</string>
            </dict>
            <key>viridianscape_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1280},{288,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,160}}</string>
                <key>sourceSize</key>
                <string>{288,160}</string>
            </dict>
            <key>viridianscape_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1280},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>viridianscape_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1280},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>viridianscape_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1280},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>viridianscape_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1280},{160,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,64}}</string>
                <key>sourceSize</key>
                <string>{160,64}</string>
            </dict>
            <key>viridianscape_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1280},{160,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,64}}</string>
                <key>sourceSize</key>
                <string>{160,64}</string>
            </dict>
            <key>viridianscape_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1280},{160,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,64}}</string>
                <key>sourceSize</key>
                <string>{160,64}</string>
            </dict>
            <key>viridianscape_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1280},{96,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,160}}</string>
                <key>sourceSize</key>
                <string>{96,160}</string>
            </dict>
            <key>viridianscape_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,1280},{288,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,288}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>viridianscape_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1280},{160,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,288}}</string>
                <key>sourceSize</key>
                <string>{160,288}</string>
            </dict>
            <key>viridianscape_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,1280},{160,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,288}}</string>
                <key>sourceSize</key>
                <string>{160,288}</string>
            </dict>
            <key>viridianscape_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,1280},{160,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,288}}</string>
                <key>sourceSize</key>
                <string>{160,288}</string>
            </dict>
            <key>viridianscape_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,1280},{160,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,288}}</string>
                <key>sourceSize</key>
                <string>{160,288}</string>
            </dict>
            <key>viridianscape_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,1280},{96,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,160}}</string>
                <key>sourceSize</key>
                <string>{96,160}</string>
            </dict>
            <key>viridianscape_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1568},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>viridianscape_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1568},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>viridianscape_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1568},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>viridianscape.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d238484feec36f1ee501a264de96bd90:1/1$</string>
            <key>textureFileName</key>
            <string>viridianscape.png</string>
        </dict>
    </dict>
</plist>
