<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>viridianscape_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,768},{64,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,128}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>viridianscape_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1280},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>viridianscape_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,768},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>viridianscape_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,512},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>viridianscape_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1248},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>viridianscape_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1248},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>viridianscape_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1024},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>viridianscape_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1280},{128,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>viridianscape_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,992},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>viridianscape_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1152},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>viridianscape_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,128},{384,384}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,128},{384,384}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>viridianscape_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,736},{64,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,128}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>viridianscape_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{416,384}}</string>
                <key>offset</key>
                <string>{16,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,128},{416,384}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>viridianscape_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,512},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>viridianscape_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,608},{64,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,128}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>viridianscape_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,480},{64,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,128}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>viridianscape_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1280},{128,96}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>viridianscape_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1280},{128,96}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>viridianscape_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1152},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>viridianscape_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1152},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>viridianscape_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,928},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>viridianscape_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,864},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>viridianscape_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1152},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>viridianscape_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1120},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>viridianscape_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,288},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>viridianscape_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,256},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>viridianscape_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,224},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>viridianscape_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1024},{128,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,256}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>viridianscape_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,768},{128,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,256}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>viridianscape_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,768},{256,224}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{256,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>viridianscape_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,0},{448,128}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{448,128}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>viridianscape_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{448,128}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,128}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>viridianscape_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1120},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>viridianscape_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1024},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>viridianscape_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1024},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>viridianscape_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1024},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>viridianscape_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,896},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>viridianscape_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,768},{256,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>viridianscape_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,960},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>viridianscape_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1088},{64,32}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>viridianscape_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,896},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>viridianscape_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,192},{96,32}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{96,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>viridianscape_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,160},{96,32}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{96,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>viridianscape_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,128},{96,32}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{96,32}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>viridianscape_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,352},{64,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,128}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>viridianscape_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>viridianscape_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,512},{128,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,256}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>viridianscape_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,256},{128,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,256}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>viridianscape_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,0},{128,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,256}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>viridianscape_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,256},{128,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,256}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>viridianscape_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,224},{64,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,128}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>viridianscape_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1024},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>viridianscape_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,992},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>viridianscape_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,992},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>viridianscape.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41619e9e8213aa9ca1d9aded48588736:1/1$</string>
            <key>textureFileName</key>
            <string>viridianscape.png</string>
        </dict>
    </dict>
</plist>
