<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lmmm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,25}}</string>
                <key>sourceSize</key>
                <string>{49,25}</string>
            </dict>
            <key>lmmm_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,103},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>lmmm_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,43},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>lmmm_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,73},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>lmmm_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,39},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>lmmm_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,80},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>lmmm_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>lmmm_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,144},{42,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,37}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>lmmm_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,121},{42,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,37}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>lmmm_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>lmmm_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,76},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>lmmm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{49,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,24}}</string>
                <key>sourceSize</key>
                <string>{49,24}</string>
            </dict>
            <key>lmmm_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,117},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>lmmm_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>lmmm_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,147},{42,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,37}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>lmmm_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,106},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>lmmm_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,186},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>lmmm_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,186},{41,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,30}}</string>
                <key>sourceSize</key>
                <string>{41,30}</string>
            </dict>
            <key>lmmm_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,157},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>lmmm_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,183},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>lmmm_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>lmmm_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,194},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>lmmm_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{46,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,27}}</string>
                <key>sourceSize</key>
                <string>{46,27}</string>
            </dict>
            <key>lmmm_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,194},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>lmmm_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,28},{45,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,34}}</string>
                <key>sourceSize</key>
                <string>{45,34}</string>
            </dict>
            <key>lmmm_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>lmmm_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>lmmm_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>lmmm_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,64},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>lmmm_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,31},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lmmm.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3568885bac1600381abee2a9a2ba8776$</string>
            <key>textureFileName</key>
            <string>lmmm.png</string>
        </dict>
    </dict>
</plist>
